Maven
/target/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/pom.xml.next
/release.properties
/dependency-reduced-pom.xml
/buildNumber.properties
/.mvn/timing.properties
/.mvn/wrapper/maven-wrapper.jar

Eclipse
.classpath
.project
.settings/
.idea/
*.launch
.metadata

Class files
*.class

Log files
*.log

Temp files
*.tmp

IDE files
.vscode/

Config files
src/main/resources/application.properties

A specific file not to be commited
.DS_Store
